<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}
    <div>
    <a class="twitter-timeline" data-width="300" data-height="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/VivianBala">Tweets by VivianBala</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
    </div>
    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
