<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
      
      

    {% include header.html %}
      
      <div class="wrap">
      <a class="twitter-timeline" data-width="500" data-height="400" data-theme="light" data-link-color="#2B7BB9" data-chrome="transparent noborders nofooter" href="https://twitter.com/VivianBala">Tweets by VivianBala</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
      </div>
      
      <div class="wrap">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvivian.balakrishnan.sg&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
        
      <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
