<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
      
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    {% include header.html %}
      
      <div class="wrap">
      <a class="twitter-timeline" data-width="500" data-height="400" data-theme="light" data-link-color="#2B7BB9" data-chrome="transparent noborders nofooter" href="https://twitter.com/VivianBala">Tweets by VivianBala</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
      </div>
      
        <div class="fb-page" data-href="https://www.facebook.com/vivian.balakrishnan.sg" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/vivian.balakrishnan.sg" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vivian.balakrishnan.sg">Vivian Balakrishnan</a></blockquote></div>
    
      <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
